<div class="form-group row">

    <div class="col-sm-12">
        <input type="text" name="" id="" class="form-control" placeholder="Student Name"><br>
        <input type="text" name="" id="" class="form-control" placeholder="Age"><br>
        <input type="text" name="" id="" class="form-control" placeholder="Place">

    </div>

</div><br>
<div class="modal-footer">
    <button class="btn btn-outline-danger">Register</button>
    <button class="btn btn-outline-danger" style="margin-left: 5px;">Update</button>  
</div>


